[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "==0.5.3"
typer = "==0.3.2"
pydantic = {extras = ["dotenv"], version = "==1.8.2"}
pyyaml = "==5.4.1"
meilisearch = "==0.15.1"

[dev-packages]
mypy = "==0.910"
pylint = "==2.9.6"
isort = "==5.9.3"
black = "==21.7b0"
invoke = "==1.6.0"
flake8 = "==3.9.2"
pytest = "==6.2.4"
types-pyyaml = "==5.4.6"

[requires]
python_version = "3.8"

[scripts]
sync_all_notes="python3 app/main.py sync_all_notes"
build_index="python3 app/main.py build_index"
lint = "inv lint"
reformat = "inv reformat"

[pipenv]
allow_prereleases = true
