[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
typer = "*"
pydantic = {extras = ["dotenv"], version = "*"}
pyyaml = "*"
meilisearch = "*"

[dev-packages]
mypy = "*"
pylint = "*"
isort = "*"
black = "*"
invoke = "*"
flake8 = "*"
pytest = "*"
types-pyyaml = "*"

[requires]
python_version = "3.8"

[scripts]
sync_all="python3 app/main.py sync_all_notes"
build_index="python3 app/main.py build_index"
lint = "inv lint"
reformat = "inv reformat"

[pipenv]
allow_prereleases = true
